nav a{
    color:black;
    margin: 20px;
    text-decoration:none;

}
body{
    margin:0px;
}
nav{
    display: flex;
    flex-flow: row-reverse;
    background-color: white;
}

nav a:hover{
    color: rgb(25, 12, 214);
    text-decoration: und;     
}

<!-- nav button {
    background-color: #2576f7;
    border: none;
    color: white;
    padding: 10px 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    margin: 1%;

}
-->